<div class="panel-header "></div>

<div class="main-content">
    <div class="row">
        <div class="col-md-12" *ngIf="showLanguage">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Choose Language</h5>
                </div>

                <div class="card-body choose-language">
                    <div role="form" class="lenForm">
                        <div class="form-group">
                            <select class="form-control select-language" [(ngModel)]="selectedLang" >
                                <option *ngFor="let Plang of PlangList" [ngValue]="Plang">{{Plang.primaryName}}</option>
                            </select>
                        </div>

                        <button type="reset" class="btn btn-secondary" (click)="resetLang()"
                            [class.disabled]="!selectedLang" [disabled]="!selectedLang">Reset</button>
                        <button type="submit" class="btn btn-secondary" (click)="updateTest()"
                            [class.disabled]="!selectedLang" [disabled]="!selectedLang">Choose</button>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="showTest" class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="title">{{langName}}</h4><br>
                    <p class="category">{{foreword}}</p>
                </div>

                <div class="card-body">
                    <mat-tab-group>
                        <mat-tab label="Easy"></mat-tab>
                        <mat-tab label="Medium"></mat-tab>
                        <mat-tab label="Hard"></mat-tab>
                    </mat-tab-group>
                    <!-- <tabset [activeId]="selectedLevel" #tabs>
                        <tab name="easy" heading="Easy" #tab1 [active]="selectedLevel === 1"></tab>
                        <tab name="medium" heading="Medium" id="2" [active]="selectedLevel === 2"></tab>
                        <tab name="hard" heading="Hard" id="3" [active]="selectedLevel === 3"></tab>
                    </tabset> -->

                    <form class="questions">
                        <label class="question">{{index}}. {{currentQuiz?.questionText}}</label>
                        <div *ngFor="let ans of answersByQuestion; index as i">
                            <label>
                                <input id={{i}} [(ngModel)]="answersTest" name="inlineRadioOptions" type="radio" [value]="ans" required>
                                {{ans.answerText}}
                            </label>
                        </div>

                        <button *ngIf="!testIsFinished" class="btn btn-secondary next-question" (click)="nextQuestion()"
                            [class.disabled]="!answersTest" [disabled]="!answersTest" >Next</button>
                        <button *ngIf="testIsFinished" class="btn btn-secondary finish-test" (click)="finishTest()"
                            [class.disabled]="!answersTest" [disabled]="!answersTest">Finish</button>
                    </form>
                </div>
            </div>
        </div>

        <div *ngIf="showAns" class="card answers">
            <form>
                <div class="card-header">
                    <h5 class="title">Answers</h5>
                </div>
                <div class="card-body">
                    <div class="test-answers">
                        <div *ngFor="let qst of questionsByLang; index as i">
                            <label class="question-test">{{i+1}}. {{qst.questionText}}</label>

                            <div *ngFor="let ans of allAnswers[qst.questionID]; index as j">
                                <input type="checkbox" id={{j}} name="inlineRadioOptions" [checked]="ans.correctAnswer">
                                <label [class.correct]="ans.correctAnswer" 
                                [class.wrong]="!ans.correctAnswer && userAnswers[qst.questionID] === ans.answerID">{{ans.answerText}}</label>
                            </div>
                        </div>
                    </div>
                <a href={{site}}>Learn more about {{langName}}</a>
                    <button class="btn btn-secondary new-test" (click)="resetData()">Take another test</button>
                </div>
            </form>
        </div>

            
    </div>
</div>