<div class="panel-header  ">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">statistics</h5>
          <canvas height="400" width="400" id="bigDashboardChart">
            <language-statistics></language-statistics>
          </canvas>
          <canvas id="lineChartExample">
            <canvas id="lineChartExampleWithNumbersAndGrid"></canvas>
              <user-statistics></user-statistics> 
            </canvas>
            <canvas id="barChartSimpleGradientsNumbers"></canvas>
        </div>
        <div class="card-body">
          <div class="row">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
